.landingmain{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 98vw;
}
.landing{

    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
 
}
.how{
    color: #254E70;
}
.card{
    padding-left: 1rem;
    text-align:left;
    background-color: aliceblue;
    max-height: 65vh;
    border-radius: 1rem;
    width: 25vw;
    min-width: 450px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);  
}
@media (max-width: 1000px){
    .landingmain{
        flex-direction: column;
    }
    .card{
        width: 70vw;
        min-width: 200px;
    }
}