.landing{
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
}
.how{
    color: #254E70;
}
.card{
    background-color: aliceblue;
    width: 70vw;
    max-height: 65vh;
    border-radius: 1rem;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);  
}