.link{
   width:60vw;
   height: 2rem;
    margin: 1rem;
    font-size: medium;
    padding: 1rem;
    border-radius: 10px;
    background-color: #DDF0FF;
    color: #000000;
}
.submit{
   background-color: #925E78;
   padding: 0 1.5rem ;
   margin-bottom: 1rem;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
    min-height: 40vh;
    border-radius: 10px;

}
.Bold{
    color:black;
}
.down{
    font-size:large;
    margin:1rem;
}
.loading{
    color: black;
    margin: 1rem;
}
.video{
    max-width: 80vw;
    border-radius: 1rem;
}
.mainbox{
    margin-top:  10vh;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}
.type{
    color:#254E70;
    margin-top: 2vh;
    font-size: larger;
    width: 100%;
}
.download{
    background-color:#925E78 ;
}