.link{
   width:60vw;
   height: 2rem;
    margin: 2rem;
    font-size: medium;
    padding: 1rem;
    border-radius: 10px;
    background-color: black;
    color:aliceblue;
}
.submit{
    padding: 0.1rem 3rem;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
    background-color: rgb(0, 119, 255,0.8);
    border-radius: 1rem;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
    min-height: 40vh;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.5);
}
.Bold{
    color:black;
}
.down{
    font-size:large;
    margin:1rem;
}
.loading{
    color: black;
    margin: 1rem;
}
.video{
    max-width: 70vw;
    border-radius: 1rem;
}
.mainbox{
    margin-top:  14vh;
}