.link{
   width:60vw;
   height: 2rem;
    margin: 1rem;
    font-size: medium;
    padding: 1rem;
    border-radius: 10px;
    background-color: black;
    color:aliceblue;
}
.submit{
    padding: 0.1rem 3rem;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
    background-color: rgb(0, 119, 255,0.8);
    border-radius: 1rem;
    margin-bottom: 1em;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
    min-height: 40vh;
    border-radius: 10px;
    margin-top: 3vh;

}
.Bold{
    color:black;
}
.down{
    font-size:large;
    margin:1rem;
}
.loading{
    color: black;
    margin: 1rem;
}
.video{
    max-width: 80vw;
    border-radius: 1rem;
}
.mainbox{
    margin-top:  10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.type{
    color:#254E70;
    margin-top: 2vh;
    height: 2vh;
}