.nativeShare{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgb(0, 0, 0);
    background-image:linear-gradient(#E9F0FB, #E2F0FD);
    cursor: pointer;
    transition: 0.4s;
    min-height: 70vh;
    margin-bottom: 2rem;
}
li{
    list-style: none;
}
.dropdown{
    text-align:start;
    font-size: large;
    
}
.dropdown>li>button:hover{
    background-color: grey;
}
.dropdown>li>button{
    width: 18rem;
    font-size: medium;
}
.dropdown>li{
    margin: 2rem;
    margin-left: 0;
}
.panel{
    background-color: aliceblue;
    border-radius: 0.3rem;
    color:black;
    margin: 0;
    font-size: large;
    display: block;
    overflow: hidden;
    padding: 1rem;
    width: 16rem;
    cursor: pointer;
    transition: 0.4s;
}
.hidePanel{
    display: none;
}
.smallFlex{
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    min-width:60vw;
}
.prev{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.preview{
    width: 40rem;
    border-radius: 0.3rem;
}
@media (max-width: 1000px){
    .preview{
        display: none;
    }
}