.nav{
    display: flex;
    flex-direction: row;
    background-color: #925E78;
    width: 100vw;
    height: 12vh;
    color: black;
    position: absolute;
    top: 0;
    left:0;
    justify-content:space-evenly;
    align-items: center;
    color: #F4EFF7;
}
.navLinks{
    display: flex;
  justify-content: space-between;
  width: 28vw;
  list-style-type: none;
  
}
.navLogin{
    display: flex;
    justify-content: space-between;
    width: 10vw;
    list-style-type: none;
}
.menus{
    margin: 1rem;
    color: #F4EFF7;
}
.ham,.links,.hidelinks{
    display: none;
}
.menu{
    background-color:aliceblue;   
}
.val{
    text-decoration: none;
    color: #F4EFF7 ;
}
.val:hover{
    color: #C2E812;
}

@media (max-width: 1000px){
    .ham{
        display: block;
        padding: 0;
    }
    .links{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top:  12vh;
        width: 100vw;
    }
    .navHide{
        display: none;
    }
    .val{
        border: 4px;
        background-color: #254E70;
    }
    .val:hover{
        background-color: cadetblue;
        
    }
    .navLinks{
        display: none;
    }
}

