.link{
    width:60vw;
    height: 2rem;
     margin: 1rem;
     font-size: medium;
     padding: 1rem;
     border-radius: 10px;
     background-color: #DDF0FF;
 }
 .box{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     width: 80vw;
     min-height: 40vh;
     border-radius: 10px;

 }
 .Bold{
     color:black;
 }
 .submit{
    background-color: #925E78;
    padding: 0 1.5rem ;
    margin-bottom: 1rem;
 }
 .down{
     font-size:large;
     margin:1rem;
 }
 .loading{
     color: black;
     margin: 1rem;
 }
 .download{
    padding: 0.1rem 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color:#925E78 ;
}
.submitbox{
    background-color: aliceblue;
    width: 70vw;
    max-height: 30vh;
    border-radius: 1rem;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1000px){
    .box{
        min-height: 30vh;
        margin-top: 5vh;
    }
    .submitbox{
        width: 80vw;
    }
}